@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Open+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  scroll-behavior: smooth !important;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* HEADER */
.header {
  max-width: 1440px;
  width: 100%;
  background-color: #E1D4C9;
  height: 100px;
  display: flex;
  padding: 40px;
  margin: 0 auto;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  position: relative;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__menu {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-around;
  gap: 80px;
  font-size: 1.4em;
  word-wrap: none;
}

.nav__item:hover {
  font-weight: bold;
  cursor: pointer;
}

.nav__link {
  text-decoration: none;
  color: #403F3D;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.4em;
  color: #403F3D;
}

.header__menu:hover {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

/* BURGER MENU STYLES */
.hamburger {
  display: none;
  position: absolute;
  background-color: transparent;
  width: 50px;
  height: 50px;
  right: 10px;
  top: -10px;
  outline: none;
  border: none;
  cursor: pointer;
}
/* BURGER MENU STYLES */
/* HEADER END*/

/* HERO SECTION START */

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  background-color: #E1D4C9;
  height: fit-content;
  padding: 0 20px;
  margin: 0 auto;
}

.hero__container {
  display: flex;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.hero__img {
  width: calc(100vw - 40px);
  height: 640px;
  border-radius: 50px;
  position: center center; 
  position: relative;
  margin-bottom: 100px; 
}

.hero__descr {
  position: absolute;
  left: 100px;
  top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33,13rem;
  height: 27.75rem;
  color: #E1D4C9;
}

.hero__title {
  font-size: 4rem;
  line-height: 105%;
  font-weight: 600;
  width: 33rem;
  height: 27.75rem;
  padding-bottom: 30px;
}

.hero__text {
  width: 33rem;
}

.hero__title span {
  color: #B0907A;
}

 @media (max-width: 380px) { 

   .hero__title {
    /* width: 316px; */
     height: 144px;
    font-weight: 600;
    /* font-size: 12px; */
    line-height: 115%; 
     }
    }


.hero__text {
  color: #E1D4C9;
  font-size: 1em;
}

.hero__btn {
  margin-top: 100px;
  width: 12.5rem; 
  height: 4rem;
  border-radius: 100px;
  border: #000000;
  background: #E1D4C9;
  color: #403F3D;
  padding: 20px 78px;
}

.hero__btn:hover {
  cursor: pointer;
  background: white;
}

.hero__btn-img {
   display: none;
}

.hero__btn-text {
  color: #403F3D;
  font-style: normal;
}

/* HERO SECTION END */


/* HIDDEN MENU START */
.menu {
  display: flex;
  max-width: 1440px;
  width: 100%;
  height: auto;
  background-color: #E1D4C9;
  padding: 20px 10px;
  margin: 0 auto;
}

.menu {
  display: none;
}

.menu__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  gap: 20px;
}

.menu__title {
  width: 800px;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 125%;
  text-align: center;
  color: #403F3D;
}

.menu__categories {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 40px;
}

.fav-coffee__pagination-line--active {
  height: 3px;
  background-color: black;
}

.categories__group {
  display: flex;
  gap: 20px;
  border: 1px solid black;
  border-radius: 50px;
  padding: 10px 20px;
}

.menu__drinks,
.menu__desserts {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.drinks__line,
.desserts__line,
.menu__tea {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.menu__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #C1B6AD;
  border-radius: 40px;
  padding-bottom: 30px;
  width: 310px;
  height: 506px;
}

.item__img {
  border-radius: 40px;
}

.item__title,
.item__descr,
.item__price {
  padding-left: 20px;
}

.item__price {
  color: #403F3D;
  font-weight: bold;
  font-size: 1.5rem;
}

.category-btn {
  border: 1px solid #665F55;
  color: #403F3D;
}

.category-btn:hover {
  cursor: pointer;
}


.active {
  background-color: #665F55;
  border: 1px solid #665F55;
  color: #E1D4C9;
}

.hidden {
  display: none;
}

.menu__refresh {
  display: none;
}

.menu__refresh-img {
  display: flex;
  align-items: center;
  border: 1px solid #665F55;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
  justify-content: center;
  padding: 15px 15px;
}


@media (min-width: 381px) and (max-width: 768px) {
  .menu__refresh {
    display: flex;
  }
  
}

/* HIDDEN MENU END */

/* FAVE COFFEE SECTION START */
.fav-coffee {
  width: 100%;
  max-width: 1440px;
  height: max-content;
  display: flex;
  padding: 0px 40px;
  align-items: center;
  margin: 0 auto;
  background-color: #E1D4C9;
}

.fav-coffee__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.fav-coffee__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 0 auto; */
}

.fav-coffee__title {
  font-size: 3rem;
  color: #403F3D;
}

.fav-coffee__title span {
  color: #B0907A;
}

.fav-coffee__arrow {
  border: 1px solid rgba(102, 95, 85, 1);
  border-radius: 50%;
  padding: 20px;
}

.fav-coffee__slide-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fav-coffee__slide-item.hidden {
  display: none;
}

.fav-coffee__item-textbx {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.fav-coffee__item-title {}

.fav-coffee__item-descr {
  text-align: center;
}

.fav-coffee__item-price {
  color: black;
  font-size: 1.5rem;
}

.fav-coffee__pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
}

.fav-coffee__pagination-line {
  width: 30px;
  height: 1px;
  background-color: grey;
  border: 1px solid grey;
}

.fav-coffee__pagination-line--active {
  height: 3px;
  background-color: black;
}

span {
  color: #B0907A;
  font-style: italic;
}

/* ABOUT SECTION  start */
.about {
  display: flex;
  width: 100%;
  max-width: 1440px;
  height: auto;
  background-color: #E1D4C9;
  padding: 40px;
  margin: 0 auto;
}

.about__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  /* margin: 0 auto; */
}

.about__title {
  padding-bottom: 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 3.75rem;
  line-height: 125%;
  color: #403F3D;

   /* width: 1360px; */
}

.about__title span {
  color: #B0907A;
}

.about__pics {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}


.about__img {
  border-radius: 20px;
  object-fit: cover;
}

.about__img--big {
  max-width: 41.25rem;
  width: 100%;
  max-height: 36.875rem;
  height: 100%;
}

.about__img--small {
  max-width: 41.25rem;
  width: 100%;
  max-height: 26.875rem;
  height: 100%;
}

.about__pics-left,
.about__pics-right {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
/* ABOUT SECTION  end*/

/* MOBILE APP SECTION start */

.mobile-app {
  display: flex;
  width: 100%;
  max-width: 1440px;
  height: auto;
  background-color: #E1D4C9;
  margin: 0 auto;
}

.mobile-app__container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
  padding: 40px;
}

.mobile-app__leftbx {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-app__title {
  font-size: 3rem;
  color: #403F3D;
  margin-top: 130px;
}

.mobile-app__title span {
  color: #B0907A;
}

.mobile-app__text {
  color: #403F3D;
}

.mobile-app__applinks {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.mobile-app__link {
  display: flex;
  flex-wrap: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #403F3D;
  width: 15rem;
  height: 5rem;
  border: 1px solid #665F55;
  border-radius: 55px;
}

.mobile-app__rightbx {
  max-width: 39.38rem;
  width: 100%;
  max-height: 39.38rem;
  height: 100%;
}

.mobile-app__link-text--available {
  color: #403F3D;
  font-style: normal;
}

/* MOBILE APP SECTION end */

/* FOOTER SECTION start */
.footer {
  display: flex;
  max-width: 1440px;
  width: 100%;
  padding-top: 40px;
  margin: 0 auto;
  background-color: #E1D4C9;
  /* height: auto; */
}

.footer__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 95%;
  height: 450px;
  margin: 0 auto;
  border: 1 px solid grey;
  background-color: #665F55;
  border-radius: 50px;
  position: center center;
  text-align: left;
  margin-bottom: 40px;


   /* max-width: 1440px; */
   /* height: 90%; */
}

.footer__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}

.footer__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}

.footer__title {
  color: #E1D4C9;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.footer__greeting {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer__social-icons {
  display: flex;
  gap: 20px;
  list-style-type: none;
  gap: 40px;
  margin-top: 20px;
}

.footer__social-icon {
  display: flex;
  flex-direction: row;
  border: 1px solid #E1D4C9;
  border-radius: 50%;
  padding: 20px;
}

.footer__social-icon:hover {
  cursor: pointer;
}

.footer__greeting-title {
  font-size: 1.5rem;
  color: #E1D4C9;
}

.footer__greeting-text {
  color: #B0907A;
  font-style: italic;
  font-size: 4rem;
}

.footer__contact-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #E1D4C9;
}

.footer__greeting-title {
  color: #E1D4C9;
  font-size: 4rem;
}

.footer__contact-info-item {
  display: flex;
  gap: 20px;
}

.footer__link {
  text-decoration: none;
  color: #E1D4C9;
}

/* FOOTER SECTION end */


